/* ===== CONTACTS SECTION ===== */

.contacts-content {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.contacts-list {
  display: flex;
  flex: 1 1 274px;
  max-width: 274px;
  flex-direction: column;
  justify-content: space-between;
}

.contacts-item:not(:first-child) {
  margin-top: 32px;
}

.contacts-item-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 26px 12px;
  text-decoration: none;
  background-color: var(--dim-color);
  border-radius: 8px;
  transition: all 1s;
}

.contacts-item-icon {
  font-size: 32px;
  transition: all 1s;
}

.contacts-item-name {
  margin-top: 16px;
  font-size: 14px;
  line-height: 20px;
}

.contacts-item-link:hover .contacts-item-icon {
  transform: scale(1.2) rotateY(360deg);
}

/* CONTACT - FORM */

.contact-form {
  flex: 1 1 657px;
  padding: 32px;
  border-radius: 8px;
  background-color: var(--dim-color);
}

.contact-form-line {
  display: flex;
  gap: 24px;
}

.contact-form-line:not(:first-child) {
  margin-top: 24px;
}

.contact-form-field {
  flex-basis: 100%;
  padding: 12px 0;
  border: none;
  border-bottom: 2px solid var(--dim-color);
  background-color: transparent;
  font-size: 14px;
  line-height: 20px;
  resize: none;
  outline: none;
  color: #fff;
}

.contact-form-field:focus {
  border-color: #25ca7f;
}

.contact-form .btn-primary {
  display: block;
  margin: 32px auto 0;
}

.contact-form .btn-primary:hover {
  background-color: #22b372;
}

@media only screen and (max-width: 768px) {
  .contacts-content {
    flex-direction: column;
    gap: 32px;
  }

  .contacts-list {
    min-width: 100%;
  }

  .contact-form {
    flex-basis: 100%;
  }

  .contact-form-line {
    flex-direction: column;
  }

  .contact-form .btn-primary {
    width: 100%;
  }
}
