/* ====== SIDEBAR ====== */

/* trigger for sidebar */

#sidebar-trigger {
  display: none;
}

.sidebar {
  min-height: 100%;
  box-shadow: 1px 0px 4px #000;
  z-index: 5;
}

.sidebar-toggle {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 100%;
  top: 40px;
  width: 56px;
  height: 56px;
  border-radius: 0px 8px 8px 0px;
  color: var(--text-color);
  font-size: 24px;
  background-color: var(--highlight-color);
  cursor: pointer;
}

.nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  background-color: var(--secondary-bg-color);
}

.nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
}

.nav-logo::before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--highlight-color);
}

.nav-list {
  margin-top: 32px;
  padding: 0;
  list-style: none;
}

.nav-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  transition: all 0.3s;
}

.nav-link:hover {
  color: var(--highlight-color);
}

.nav-link-icon {
  font-size: 32px;
}

.nav-link-text {
  margin-top: 6px;
  font-size: 14px;
}

.to-top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  width: 80px;
  height: 80px;
  background-color: var(--highlight-color);
  font-size: 32px;
}

/* SIDEBAR MEDIA */

@media only screen and (max-width: 768px) {
  #sidebar-trigger:checked ~ .sidebar {
    transform: translateX(0%);
  }

  .sidebar-toggle {
    display: flex;
  }

  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    box-shadow: none;
    transform: translateX(-100%);
    transition: 0.5s ease;
  }

  .nav-link,
  .to-top {
    width: 56px;
    height: 56px;
  }

  .nav {
    justify-content: center;
    padding-bottom: 56px;
  }

  .nav-logo {
    display: none;
  }

  .nav-link-icon {
    font-size: 22px;
  }

  .nav-link-text {
    display: none;
  }

  .to-top {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
  }
}
