@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.eot");
  src: url("../fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Lato-Regular.woff2") format("woff2"),
    url("../fonts/Lato-Regular.woff") format("woff"),
    url("../fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Semibold.eot");
  src: url("../fonts/Lato-Semibold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Lato-Semibold.woff2") format("woff2"),
    url("../fonts/Lato-Semibold.woff") format("woff"),
    url("../fonts/Lato-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Georgia";
  src: url("../fonts/Georgia-Bold.eot");
  src: url("../fonts/Georgia-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Georgia-Bold.woff2") format("woff2"),
    url("../fonts/Georgia-Bold.woff") format("woff"),
    url("../fonts/Georgia-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Georgia";
  src: url("../fonts/Georgia.eot");
  src: url("../fonts/Georgia.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Georgia.woff2") format("woff2"),
    url("../fonts/Georgia.woff") format("woff"),
    url("../fonts/Georgia.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir";
  src: url("../fonts/Avenir.eot");
  src: url("../fonts/Avenir.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Avenir.woff2") format("woff2"),
    url("../fonts/Avenir.woff") format("woff"),
    url("../fonts/Avenir.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
